<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<caching>
			<outputCache enableOutputCache="true" xdt:Transform="SetAttributes" />
		</caching>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" xdt:Transform="Replace">
				<network host="localhost" port="25" defaultCredentials="false" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>